.field_with_errors {
  display: inline-block;
}

.field_with_errors input {
  border: 1px solid red;
}

.homepage {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: url("/assets/makedoprettynicethingsplease.jpg");
  background-color: #152303;
}

.homepage h1, .homepage h2, .homepage h3 {
  max-width: 80%;
  text-align: center;
}

.homepage h1 {
  flex: 1;
  font-family: 'Amatic SC', cursive;
  color: #f4f2f2;
  text-align: center;
  position: relative;
  left: 6px;
  vertical-align: text-bottom;
  font-size: 220px;
  margin: 10px;
  margin-top: 60px;
}

.homepage h2 {
  flex: 1;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 60px;
  margin: 10px;
  margin-top: 0px;
  vertical-align: text-top;
  color: #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

.homepage h3 {
  flex: 1;
  font-family: 'Neucha', cursive;
  font-size: 40px;
  margin-top: 110px;
  margin-bottom: 0px;
}

.homepage h3, .homepage ul {
  font-weight: 400;
  color: #f4f2f2;
}

.homepage ul {
  flex: 1;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 120px;
}

.bottom_user_links {
  padding-top: 50px;
}

.user_profile {
  padding: 20px;
}
